/*
** Basic Format
*/
    @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Spartan;
        font-size: 15px;
        /* font-weight:  700; */
    }

    header h1 {
        color: hsl(300, 43%, 22%);
    }

    header p {
        color: hsl(303, 10%, 53%);
    }


    #ratings #section-a, #section-b, #section-c {
        background-color: hsl(300, 24%, 96%);
        text-align: center;
    }

    #ratings p {
        color: hsl(300, 43%, 22%);
    }


    #reviews #section-d, #section-e, #section-f {
        background-color: hsl(300, 43%, 22%);
        color: white;
    }

    #reviews img {
        border-radius: 5rem;
    }

    #reviews p.verified {
        color:hsl(333, 80%, 67%);
    }

/*
** Wrapper
*/

    /* 
    ** Header 
    */
        /* 
        ** Header - Title
        */
            header {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 7rem;

                /* background-color: green; */
            }

            header #title {
                max-width: 480px;

                /* border: 1px solid green; */
            }

            header #title h1 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }

            header #title p {
                font-weight: 500;
            }

        /* 
        ** Header - Ratings
        */
            header aside#ratings {
                border: 1px solid red;
            }

            aside#ratings #section-


        


    