/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700;900&display=swap');

:root {
    --color-cyan: #5FB4A2;
    --color-red: #F43030;
    --color-dark-blue: #203A4C;
    --color-grayish-dark-blue: #33323D;
    --color-very-light-gray: #FAFAFA;
    --color-light-gray: #EAEAEB;
    --color-white: #FFFFFF;
    --color-border-gray: #DCDCDE;
    --color-form-input-bg: #E5E5E6;
    --color-form-input-place-holder: #9D9DA3;
}

.dark {
    /* --bg-color-main: hsl(207, 26%, 17%); */
}

.light {
    --body-bg-color: hsl(0, 0%, 98%);
    --navbar-footer-bg-color: rgba(51, 50, 61, 0.981);
    --btn-bg-color: #203a4c;
    --btn-bg-color-2: #005f23;
    --btn-img-bg-color: #33323D;
    --btn-txt-color: hsl(0, 0%, 98%);
    --custom-border-color: #DCDCDE;
    --txt-color: hsl(200, 15%, 8%); 
    --txt-color-navbar-footer: #FAFAFA;
    --txt-color-active-navbar-footer: #5FB4A2;
}

* {
    box-sizing: border-box;
    font-family:"Public Sans",sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
    color: var(--txt-color);
    display: flex;
    justify-content: center;
    height: 100vh;
}

a {
    color: var(--txt-color);
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.hide {
    opacity: 0;
}

.element-none {
    display: none !important;
    transition: .2s;
}


/***********************************************
** Mobile
***********************************************/

/*
** Container
*/
    #container {
        /* margin: 0 auto; */
    }

/*
** Wrapper
*/
    #wrapper {
        margin: 0 auto;
        padding: 2rem;
    }

/*
** Top Navbar
*/
    #top-navbar { 
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px;
        position: relative;

        /* border: 1px solid red; */
    }

    label.menu-icons {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }

    #burger-icon {
        float: right;
        pointer-events: none;
        transition: .2s;
    }

    #close-icon {
        float: right;
        pointer-events: none;
        transition: .2s;
    }

    #nav-list {
        background-color: var(--navbar-footer-bg-color);
        padding: 1rem;
        width: 100%;
        opacity: 0;
        position: absolute;
        top: 50px;
        transform: translatey(-120%);
        transition: .2s;
    }

    #nav-list li {
        margin: 2rem 2rem;
        text-align: center;
    }

    #nav-list li a {
        color: var(--txt-color-navbar-footer);
        font-weight: 600;
        transition: .5s;
    }

    #nav-list li a:hover, #footer-links li a:hover {
        color: var(--txt-color-active-navbar-footer);
        transition: .5s;
    }

/* If the input is checked, shows the mobile menu  */
    #menu-checkbox:checked ~ #nav-list {
        opacity: 1;
        transform: translatey(0);
        transition: .2s;
    }

/*
** Header
*/
    #hero-img {
        background-image: url(../images/homepage/mobile/image-homepage-hero@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }

    header h1 {
        margin: 1.5rem 0;
    }

    #aboutme-link {
        /* background-image: linear-gradient(
            to top,
            var(--btn-bg-color),
            var(--btn-bg-color-2)); */
        border: 1px solid rgb(14, 20, 124);
        border-radius: 5px;
        color: rgb(14, 20, 124);
        display: inline-block;
        font-weight: 600;
        margin-bottom: 140px;
        padding: .5rem 1rem;
        transition: .5s;
    }

    #aboutme-link:hover {
        background-color: rgb(14, 20, 124);
        color: var(--body-bg-color);
        transition: .5s;
    }

    .arrows-down {
        margin-right: 15px;
    }

/*
** Profile
*/
    #profile {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
        align-items: center;
        justify-content: center;
    }

/*
** About me
*/
    #mypicture {
        background-image: url(../images/homepage/mobile/image-homepage-profile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        margin-bottom: 2rem;
    }

    .custom-border {
        border-top: 1px solid var(--custom-border-color);
        border-bottom: 1px solid var(--custom-border-color);
        padding: 1rem 0;
    }

    #aboutme h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    #aboutme p {
        line-height: 2rem;
    }

    .portfolio-link, .contactme-link {
        border: 1px solid var(--txt-color);
        display: inline-block;
        font-size: .9rem;
        margin: 3rem 0;
        padding: 1rem;
        max-width: 180px;
        transition: .5s;
    }

    .portfolio-link:hover, .contactme-link:hover {
        background-color: var(--txt-color);
        color: var(--body-bg-color);
        transition: .5s;
    }

/*
** Call to Action
*/
    #cta {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 5rem 0;
    }

    #cta .custom-border {
        display: none;
    }

    #cta h1 {
        font-size: 2rem;
        text-align: center;
        max-width: 350px;
    }

/*
** Foooter
*/
    footer {
        background-color: var(--navbar-footer-bg-color);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        text-align: center;
    }

    #footer-links li {
    /* margin-bottom: 1rem; */
    }

    #footer-links a {
        color: var(--txt-color-navbar-footer);
        letter-spacing: 2px;
        line-height: 4rem;
        transition: .5s;
    }

    #social-media {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    #social-media a {
        
    }
    

    


/***********************************************
** Tablet
***********************************************/
@media (min-width: 686px) {
/*
** Profile
*/
    #mypicture {
        background-image: url(../images/homepage/tablet/image-homepage-profile@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
        max-width: 400px;
        margin: 0 1rem;
    }
}

@media (min-width: 768px) {
/*
** Top Navbar
*/
    #top-navbar {
        margin: 0;
        margin-bottom: 15px;
        width: 100%;
    }

    #menu-checkbox {
        display: none;
    }

    #burger-icon {
        display: none;
    }

    #close-icon {
        display: none;
    }

    #nav-list {
        background-color: transparent;
        display: flex;
        opacity: 1;
        padding: 1rem;
        position: static;
        width: fit-content;
        transform: translatey(0);
    }

    #nav-list li {
        margin: 0;
        text-align: center;
    }

    #nav-list li a {
        color: var(--txt-color);
        margin-left: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
    }

/*
** Hero
*/
    #hero {
        margin-bottom: 15rem;
        position: relative;
    }

    #hero-img {
        background-image: url(../images/homepage/tablet/image-homepage-hero@2x.jpg);
        height: 688px;
    }

    #hero-content {
        background-color: var(--txt-color-navbar-footer);
        font-size: 1.2rem;
        padding: 2.5rem;
        height: 300px;
        width: 70%;
        max-width: 500px;
        position: absolute;
        bottom: 0px;
    }

    #hero-content a {
        display: flex;
        justify-content: space-evenly;
        /* margin: 0 auto; */
        padding: 1rem;
        width: 50%;
    }

/*
** Call to Action
*/
    #cta {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 2rem;
        justify-content: space-evenly;
    }

    #cta .custom-border {
        display: block;
        height: 0;
        padding: 0;
    }

/*
** Footer
*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #footer-links {
        display: flex;
        gap: 1rem;
    }

}



/***********************************************
** Desktop
***********************************************/
@media (min-width: 1280px) {
/*
** Wrapper
*/
    #wrapper {
        margin: 0 auto;
        padding: 2rem;
        width: 90%;
    }

/*
** Header
*/
    #hero-img {
        background-image: url(../images/homepage/desktop/image-homepage-hero@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }

/*
** Profile
*/
    #profile {
        padding-top: 5rem;
    }

    #mypicture {
        background-image: url(../images/homepage/desktop/image-homepage-profile@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        max-width: 560px;
        margin: 0 3rem;
    }

    #aboutme h1 {
        font-size: 2.1rem;
    }

/*
** Call to Action
*/
    #cta h1 {
        font-size: 2.1rem;
    }

}