@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700;900&display=swap');

:root {
    --color-cyan: #5FB4A2;
    --color-red: #F43030;
    --color-dark-blue: #203A4C;
    --color-grayish-dark-blue: #33323D;
    --color-very-light-gray: #FAFAFA;
    --color-light-gray: #EAEAEB;
    --color-white: #FFFFFF;
    --color-border-gray: #DCDCDE;
    --color-form-input-bg: #E5E5E6;
    --color-form-input-place-holder: #9D9DA3;
}

.dark {
    /* --bg-color-main: hsl(207, 26%, 17%); */
}

.light {
    --body-bg-color: hsl(0, 0%, 98%);
    --navbar-footer-bg-color: rgba(51, 50, 61, 0.981);
    --btn-bg-color: #203a4c;
    --btn-bg-color-2: #005f23;
    --btn-img-bg-color: #33323D;
    --btn-txt-color: hsl(0, 0%, 98%);
    --custom-border-color: #DCDCDE;
    --txt-color: hsl(200, 15%, 8%); 
    --txt-color-navbar-footer: #FAFAFA;
    --txt-color-active-navbar-footer: #5FB4A2;
}

* {
    box-sizing: border-box;
    font-family:"Public Sans",sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
    color: var(--txt-color);
    display: flex;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

p {
    line-height: 2rem;
}

a {
    color: var(--txt-color);
    font-size: .9rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.hide {
    opacity: 0;
}

.element-none {
    display: none !important;
    transition: .2s;
}


/***********************************************
** Mobile
***********************************************/

/*
** coverer
*/
    #coverer {
        /* margin: 0 auto; */
        /* border: 1px solid red; */
    }

/*
** Wrapper
*/
    #wrapper {
        margin: 0 auto;
        padding: 2rem;
     
        /* border: 1px solid red; */
    }

/*
** Top Navbar
*/
    #top-navbar { 
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px;
        position: relative;

        /* border: 1px solid red; */
    }

    label.menu-icons {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }

    #burger-icon {
        float: right;
        pointer-events: none;
        transition: .2s;
    }

    #close-icon {
        float: right;
        pointer-events: none;
        transition: .2s;
    }

    #nav-list {
        background-color: var(--navbar-footer-bg-color);
        padding: 1rem;
        width: 100%;
        opacity: 0;
        position: absolute;
        top: 50px;
        transform: translatey(-120%);
        transition: .2s;
    }

    #nav-list li {
        margin: 2rem 2rem;
        text-align: center;
    }

    #nav-list li a {
        color: var(--txt-color-navbar-footer);
        font-weight: 600;
        transition: .5s;
    }

    #nav-list li a:hover, #footer-links li a:hover {
        color: var(--txt-color-active-navbar-footer);
        transition: .5s;
    }

/* If the input is checked, shows the mobile menu  */
    #menu-checkbox:checked ~ #nav-list {
        opacity: 1;
        transform: translatey(0);
        transition: .2s;
    }

/*
** Projects
*/
    #projects {
        margin: auto;
        /* width: min(100%, 500px); */
    }

    .custom-border-2 {
        border-top: 1px solid var(--custom-border-color);
        margin: 2rem 0;
        padding: 2rem 0;
    }

    .type-two-link {
        border: 1px solid var(--txt-color);
        display: inline-block;
        font-size: .9rem;
        letter-spacing: 1px;
        margin-top: 2rem;
        padding: .7rem 2rem;
        width: fit-content;
        transition: .5s;
    }

    .type-two-link:hover {
        background-color: var(--txt-color);
            color: var(--body-bg-color);
            transition: .5s;
    }

    .build-with {
        color: var(--txt-color-active-navbar-footer);
        font-size: .8rem;
        font-weight: 700;
    }
    
/*
** My Project
*/
    #my-project .hero-img {
        background-image: url(../images/detail/mobile/image-manage-hero@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: max(150px, 50vw);
        margin-bottom: 3rem;
    }

    .about-project h1 {
        font-weight: 400;
    
    }

    .static-preview-1 {
        background-image: url(../images/detail/mobile/image-manage-preview-1@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 210px;
        width: 100%;
        margin: 2rem 0;
    }

    .static-preview-2 {
        background-image: url(../images/detail/mobile/image-manage-preview-2@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 210px;
        width: 100%;
    }

/*
** Projects Navbar
*/
    .projects-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .projects-navbar h3 {
        font-size: clamp(14px, 5vw, 1.5rem);
    }

    .projects-navbar p {
        font-size: 0.7rem;
        opacity: 50%;
    }

    .custom-border {
        border-top: 1px solid var(--custom-border-color);
        border-bottom: 1px solid var(--custom-border-color);
        margin-bottom: 5rem;
    }

    .previous-link {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        width: 100%;
        text-align: left;
       
        /* border: 1px solid green; */
    }

    .previous-icon {
        background-image: url(../images/icons/2x/outline_arrow_back_ios_black_48dp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 25px;
        width: 25px;
        margin-bottom: 10px; 
    }

    .next-link {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        width: 100%;
        text-align: right;

        /* border: 1px solid blue; */
    }

    .next-icon {
        background-image: url(../images/icons/2x/outline_arrow_forward_ios_black_48dp.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 25px;
        width: 25px;
        margin-left: 80%;
        margin-bottom: 10px; 
    }

    .nav-divider {
        align-self: stretch;
        background-color: var(--color-border-gray);
        min-height: 100%;
        width: 2px;
    }
/*
** Call to Action
*/
    #cta {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 5rem 0;
    }

    #cta .custom-border {
        display: none;
    }

    #cta h1 {
        font-size: 2rem;
        text-align: center;
        max-width: 350px;
    }

/*
** Foooter
*/
    footer {
        background-color: var(--navbar-footer-bg-color);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        text-align: center;
    }

    #footer-links a {
        color: var(--txt-color-navbar-footer);
        letter-spacing: 2px;
        line-height: 4rem;
        transition: .5s;
    }

    #social-media {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

/***********************************************
** Tablet
***********************************************/
@media (min-width: 768px) {
/*
** Top Navbar
*/
    #top-navbar {
        margin: 0;
        margin-bottom: 15vh;
        width: 100%;
    }

    #menu-checkbox {
        display: none;
    }

    #burger-icon {
        display: none;
    }

    #close-icon {
        display: none;
    }

    #nav-list {
        background-color: transparent;
        display: flex;
        opacity: 1;
        padding: 1rem;
        position: static;
        width: fit-content;
        transform: translatey(0);
    }

    #nav-list li {
        margin: 0;
        text-align: center;
    }

    #nav-list li a {
        color: var(--txt-color);
        margin-left: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
    }
/*
** My Project
*/   
    #my-project .hero-img {
        background-image: url(../images/detail/tablet/image-manage-hero@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: max(350px, 50vw);
        margin-bottom: 3rem;
    }

    .project-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .project-info {
        grid-column: 2;
        grid-row: 1 / span 3;
    }

    .static-preview-1 {
        background-image: url(../images/detail/tablet/image-manage-preview-1@2x.jpg);
        height: 430px;
        width: 100%;
        margin: 2rem 0;
    }

    .static-preview-2 {
        background-image: url(../images/detail/tablet/image-manage-preview-2@2x.jpg);
        height: 430px;
        width: 100%;
    }

/*
** Call to Action
*/
    #cta {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 2rem;
        justify-content: space-evenly;
        margin: 0 auto;
    }

    #cta .custom-border {
        display: block;
        height: 0;
        margin: auto;
        padding: 0;
        width: 100%;
    }

    #cta .type-two-link {
        margin: 0;
    }


/*
** Footer
*/
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #footer-links {
        display: flex;
        gap: 1rem;
    }
        
}


/***********************************************
** Desktop
***********************************************/
@media (min-width: 1080px) {

/*
** Wrapper
*/
    #wrapper {
        margin: 0 auto;
        padding: 2rem;
        width: 90%;
    }

/*
** Projects
*/
    #projects {
        margin: auto;
    }

    .project-content {
        display: flex;
        gap: 5vw;
        justify-content: space-between;
    }

    .project-details {
        display: block;
    }

/*
** My Project
*/
    .hero-img {
        background-image: url(../images/detail/desktop/image-manage-hero@2x.jpg);
        height: max(150px, 50vw);
        margin-bottom: 3rem;
    }
    

    .about-project h1 {
        font-weight: 400;

    }

    .static-preview-1 {
        background-image: url(../images/detail/desktop/image-manage-preview-1@2x.jpg);
        width: 100%;
        margin: 2rem 0;
    }

    .static-preview-2 {
        background-image: url(../images/detail/desktop/image-manage-preview-2@2x.jpg);
        width: 100%;
    }


/*
** Call to Action
*/
    #cta h1 {
        font-size: 2.1rem;
    }
}