/*
** Core Format
*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

    * {
        box-sizing: border-box;
        font-family: Poppins;
        margin: 0;
        padding: 0;
    }


    
/*
** Common Format
*/
    #wrapper {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
        margin: 10% auto;
        width: 90%;

        /* border: 1px solid red; */
    }

    p {
        color: hsl(229, 6%, 66%);
        margin-bottom: 3rem; 
    }

    header {
        padding: 1rem;

        /* border: 1px solid black; */
    }

    header h1 {
        font-size: 1.5rem;
        font-weight: 200;
        margin-bottom: 1rem;
    }

    header span {
        font-weight: 600;
    }

    
    #card1, #card2, #card3, #card4 {
        border-radius: 1rem;
        box-shadow: 0 5px 21px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        margin-top: 2rem;

        /* border: 1px solid blue; */
    }

    #card1 h2, #card2 h2, #card3 h2 , #card4 h2 {
        margin-bottom: 1rem;
    }

    #card1 img, #card2 img, #card3 img , #card4 img {
        position: relative;
        left: 70%;
    }




    /*
    ** Mobile - Card 1 - Format 
    */
        #card1 {
            background: linear-gradient(hsl(180, 62%, 55%), white) no-repeat;
            background-size: auto 4%;
        }

       
        #card2 {
            background: linear-gradient(hsl(0, 78%, 62%), white) no-repeat;
            background-size: auto 4%;
        }

        #card3 {
            background: linear-gradient( hsl(34, 97%, 64%), white) no-repeat;
            background-size: auto 4%;
        }

        #card4 {
            background: linear-gradient(hsl(212, 86%, 64%), white) no-repeat;
            background-size: auto 4%;
        }


    /*
    ** Tablet - Format 
    */
        @media (min-width: 900px) {
            #wrapper {
                display: block;

                border: 1px solid red;
            }


            header {
                margin: auto;
                max-width: 640px;
                text-align: center;

                /* border: 1px solid red; */
            }

            header h1 {
                font-size: 2.5rem;
            }

            header p {
                font-size: 1.2rem;
                margin-top: 2rem;
            }


            #cards {
                display: flex;
                flex-direction: ;
                border: 1px solid red;
            }

            #card1, #card2, #card3, #card4 {
                margin: 10% auto;
                max-height: 250px;
                width: 350px;
        
                /* border: 1px solid blue; */
            }

            
        }


    /*
    ** Desktop - Format 
    */
        @media (min-width: 1280px) {

            #wrapper {
                display: block;
            }


            header {
                margin: auto;
                max-width: 640px;
                text-align: center;

                /* border: 1px solid red; */
            }

            header h1 {
                font-size: 2.5rem;
            }

            header p {
                font-size: 1.2rem;
                margin-top: 2rem;
            }


            #cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

                /* border: 1px solid red; */
            }

            #card1, #card2, #card3, #card4 {
                margin: 10% auto;
                max-height: 250px;
                width: 350px;
        
                /* border: 1px solid blue; */
            }

            #card1, #card4 {
                margin: 50% 5%;
            }
        }



