/*
** Core Format
*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

    * {
        box-sizing: border-box;
        font-family: Poppins;
        margin: 0;
        padding: 0;
    }


    
/*
** Common Format
*/
    #wrapper {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
        margin: 10% auto;
        /* width: 90%; */

        border: 1px solid red;
    }

    p {
        color: hsl(229, 6%, 66%);
        margin-bottom: 1rem; 
    }

    header h1 {
        font-size: 1.7rem;
        font-weight: 200;
        margin-bottom: 1rem; 
        padding: 1rem;

    }

    header span {
        font-weight: 600;
    }

    
    #card1, #card2, #card3, #card4 {
        box-shadow: 0 5px 21px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        margin-top: 2rem;
        /* border: 1px solid blue; */
    }

    #card1 img, #card2 img, #card3 img , #card4 img {
        position: relative;
        right: 0;
        bottom: 0;
    }



