/*
** Core Format
*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

    * {
        box-sizing: border-box;
        font-family: Poppins;
        margin: 0;
        padding: 0;
    }


    
/*
** Common Format
*/
    #wrapper {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(210px, 1fr));
        margin: 10% auto;
        width: 90%;

        border: 1px solid red;
    }

    header h1 {
        font-size: 1.5rem;
        font-weight: 200;
        margin-bottom: 1rem; 
    }

    header span {
        font-weight: 600;
    }

    header p {
        color: hsl(229, 6%, 66%);
        margin-bottom: 1rem; 
    }

    #card1 {


        border: 1px solid blue;
    }




