/*
** Core Formats
*/
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    :root {
        --color-bright-blue: hsl(220, 98%, 61%);
        --bg-check: linear-gradient(
            hsl(192, 100%, 67%), 
            hsl(280, 87%, 65%));
        
        /* Light Theme  */
        --LT-Very-Light-Gray: hsl(0, 0%, 98%);
        --LT-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
        --LT-Light-Grayish-Blue: hsl(233, 11%, 84%);
        --LT-Dark-Grayish-Blue: hsl(236, 9%, 61%);
        --LT-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

        /* Dark Theme  */
        --DT-Very-Dark-Blue: hsl(235, 21%, 11%);
        --DT-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
        --DT-Light-Grayish-Blue: hsl(234, 39%, 85%);
        --DT-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
        --DT-Dark-Grayish-Blue: hsl(234, 11%, 52%);
        --DT-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
        --DT-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
    }

    * {
        box-sizing: border-box;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    html {
        font-family: "Josefin Sans", sans-serif;
        font-size: 18px;
    }

    body {
        background-color: var(--DT-Very-Dark-Blue);
        color: var(--DT-Light-Grayish-Blue);
        min-height: 100vh;

    }

/**************************************************
** Mobile
**************************************************/
/*
**  Conteiner 
*/ 
    #conteiner {
        background: url(../images/bg-mobile-dark.jpg) top no-repeat;
        background-size: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

/*
**  Wrapper 
*/
    #wrapper {
        margin-top: 2rem;
        width: 90%;

        border: 1px solid;
    }

/*
**  Header 
*/
    header {
        display: flex;
    }

    header h1 {
        display: inline;
        letter-spacing: 14px;
        text-transform: uppercase;

        /* border: 1px solid red; */
    }


