
:root {
    --color-bright-blue:
    --bg-check: background-image: linear-gradient(
        hsl(192, 100%, 67%), 
        hsl(280, 87%, 65%));
}

body {
    background-color: black;
    color: white;
}