/*
** Basic Format
*/
    @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Spartan;
        font-size: 15px;

        /* font-weight:  700; */
    }

    #wrapper {
    }

    header h1 {
        color: hsl(300, 43%, 22%);
    }

    header p {
        color: hsl(303, 10%, 53%);
    }


    #ratings #section-a, #section-b, #section-c {
        background-color: hsl(300, 24%, 96%);
        /* text-align: center; */
    }

    #ratings p {
        color: hsl(300, 43%, 22%);
    }


    #reviews #section-d, #section-e, #section-f {
        background-color: hsl(300, 43%, 22%);
        color: white;
    }

    #reviews img {
        border-radius: 5rem;
    }

    #reviews p.verified {
        color:hsl(333, 80%, 67%);
    }

/*
** Wrapper
*/

    /* 
    ** Header 
    */
        /* 
        ** Header - Title
        */
            header {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                /* background-color: green; */
            }

            header #title {
                max-width: 480px;

                /* border: 1px solid green; */
            }

            header #title h1 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }

            header #title p {
                font-weight: 500;
            }

        /* 
        ** Header - Ratings
        */
            #ratings {
                /* border: 1px solid red; */
            }

            #section-a, #section-b, #section-c {
                border-radius: 1rem;
                max-width: 500px;
                padding: 1.5rem;

                /* background-color: red; */
            }

            #section-a, #section-b, #section-c  {
                display: flex;
                flex-wrap: wrap;

            }

            #section-a img, #section-b img, #section-c img {
                margin-left: 1rem;
            }

            #section-a p, #section-b p, #section-c p {
                margin-left: 2rem;
                margin-bottom: 0rem;
            }

            /* 
            ** Header - Ratings - Section-b
            */
                #section-b {
                    margin-left: 2rem;
                    margin-top: 1rem;
                }
                

            /* 
            ** Header - Ratings - Section-c
            */
                #section-c {
                    margin-left: 4rem;
                    margin-top: 1rem;
                }
                
    /* 
    ** Reviews 
    */
        #reviews {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* column-gap: 1rem; */
        }

        #section-d {
            padding: 1rem;
        }


        


    